<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="sryx.dao.PlayerMapper">

  <insert id="updatePlayer" parameterType="sryx.pojo.Player" >
    replace into player (
    	playerId, 
    	avatarUrl, 
    	nickName, 
    	gender, 
    	language, 
    	country, 
    	province, 
    	city,
    	lastGameId,
    	createTime
    )
    values (
    	#{playerId}, 
    	#{avatarUrl}, 
    	#{nickName},
    	#{gender},
    	#{language},
    	#{country},
    	#{province},
    	#{city},
    	#{lastGameId},
    	#{createTime}
    )
  </insert>
  
  <update id="updatePlayerLastGameId" parameterType="sryx.pojo.Player" >
	    update player set 
		     <if test="lastGameId != null">
               lastGameId= #{lastGameId}
            </if>
	    <where>
			playerId = #{playerId}
		</where>
  </update>
  
  <select id="getPlayerById" parameterType="java.lang.String" resultType="sryx.pojo.Player">
  	select * from player where playerId=#{playerId}
  </select>
  
  <insert id="createGame" parameterType="sryx.pojo.Game" >
    insert into game (
    	gameId,
    	gameOwnerId, 
    	gameOwnerAvatarUrl,
    	gameOwnerNickName,
    	inviteCode, 
    	killerNum,
		policeNum, 
		citizenNum, 
		state, 
		startTime,
		endTime, 
		result,
		createTime
	)
    values (
    	#{gameId}, 
    	#{gameOwnerId}, 
    	#{gameOwnerAvatarUrl}, 
    	#{gameOwnerNickName}, 
    	#{inviteCode},
    	#{killerNum},
    	#{policeNum},
    	#{citizenNum},
    	#{state},
    	#{startTime},
    	#{endTime},
    	#{result},
    	#{createTime}
    )
  </insert>
  
  <update id="updateGameState" parameterType="sryx.pojo.Game" >
	    update game set 
	    	 <if test="endTime != null">
               endTime= #{endTime},
             </if>
		     <if test="state != null">
               state= #{state}
            </if>
	    <where>
			gameId = #{gameId}
		</where>
  </update>
  
  <update id="updateGameResult" parameterType="sryx.pojo.Game" >
	    update game set 
	    	<if test="state != null">
               state= #{state},
            </if>
            <if test="endTime != null">
               endTime= #{endTime},
            </if>
		    <if test="result != null">
               result= #{result}
            </if>
	    <where>
			gameId = #{gameId}
		</where>
  </update>
  
  <select id="getGameState" parameterType="java.lang.Integer" resultType="java.lang.Integer">
  	select state from game where gameId=#{gameId}
  </select>
  
  <select id="getMaxIdFormGame" resultType="java.lang.Integer">
  	select max(gameId) from game
  </select>
  
  <select id="getGameById" parameterType="java.lang.Integer" resultType="sryx.pojo.Game">
  	select * from game where gameId=#{gameId}
  </select>
  
  <select id="getGameByInviteCode" parameterType="java.lang.String" resultType="sryx.pojo.Game">
  	select * from game where inviteCode=#{inviteCode} and state=0
  </select>
  
  <insert id="addRole" parameterType="sryx.pojo.Role" >
    insert into role (
    	roleId,
    	playerId, 
    	gameId, 
    	roleType,
		playerNickName, 
		playerAvatarUrl, 
		death, 
		deathTime, 
		victorySide,
		createTime,
		remark
	)
    values (
    	#{roleId}, 
    	#{playerId}, 
    	#{gameId},
    	#{roleType},
    	#{playerNickName},
    	#{playerAvatarUrl},
    	#{death},
    	#{deathTime},
    	#{victorySide},
    	#{createTime},
    	#{remark}
    )
  </insert>
  
  <select id="getMaxIdFormRole" resultType="java.lang.Integer">
  	select max(roleId) from role
  </select>
  
  <select id="getUnallocatedRoleListInGame" parameterType="java.lang.Integer" resultType="sryx.pojo.Role">
  	select * from role where gameId=#{gameId} and playerId is null
  </select>
  
  <select id="getRoleListInGame" parameterType="java.lang.Integer" resultType="sryx.pojo.Role">
  	select * from role where gameId=#{gameId}
  </select>
  
  <select id="getMyRoleInGame" parameterType="sryx.pojo.Role" resultType="sryx.pojo.Role">
  	select * from role where gameId=#{gameId} and playerId=#{playerId}
  </select>
  
  <select id="getMyGameRecords" parameterType="java.lang.String" resultType="sryx.pojo.Role">
  	select * from role where playerId=#{playerId} and roleType!=3 and victorySide is not null
  </select>
  
  <select id="getAliveRoleInGameByRoleType" parameterType="sryx.pojo.Role" resultType="sryx.pojo.Role">
  	select * from role where gameId=#{gameId} and roleType=#{roleType} and death=0
  </select>
  
  <update id="updateRole" parameterType="sryx.pojo.Role" >
	    update role set 
            <if test="playerId != null">
               playerId= #{playerId},
            </if>
            <if test="gameId != null">
               gameId= #{gameId},
            </if>
            <if test="roleType != null">
               roleType= #{roleType},
            </if>
            <if test="playerNickName != null">
               playerNickName= #{playerNickName},
            </if>
            <if test="playerAvatarUrl != null">
               playerAvatarUrl= #{playerAvatarUrl},
            </if>
            <if test="death != null">
               death= #{death}
            </if>
            <if test="deathTime != null">
               deathTime= #{deathTime}
            </if>
	    <where>
			roleId = #{roleId}
		</where>
  </update>
  
  <update id="updateRoleDeathState" parameterType="sryx.pojo.Role" >
	    update role set 
	        <if test="death != null">
               death=#{death},
            </if>
            <if test="deathTime != null">
               deathTime=#{deathTime}
            </if>
	    <where>
			roleId=#{roleId}
		</where>
  </update>
  
  <update id="updateRoleListVictorySide" parameterType="sryx.pojo.Role" >
	    update role set 
		     <if test="victorySide != null">
               victorySide=#{victorySide}
            </if>
	    <where>
			gameId=#{gameId}
		</where>
  </update>
</mapper>